.top{
	height:155px ;
	width:1440px ;
}
.banner{
	height: 445px;
	width: 1440px;
}
.new{
	height:435px; 
	width:1440px;
}
.goods{
	height:1755px ;
	width: 1440px;
}
.pays{
	height: 322px;
	width: 1440px;
}
.footer{
	height: 215px;
	width: 1440px;
}